@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Myriad pro, Garamond , sans-serif;
     
    background-image:url(../images/spaceship-background.jpg);
    background-size: 40rem;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0 1;
    padding: 0;
}

article {
    margin: 0;
    padding: 0 5%;
}

h1 {
    font-family: Futura, Times, serif;
    font-weight: normal;
    font-size: 4rem;
    line-height: 3rem;
    margin: 5rem 0;
    color: #ffff00; 
    text-shadow: .20rem .20rem .2rem rgba(0, 0, 0, .9);
}

p {
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
    color: gold;
    font-size: 1.2rem
}

.billboard {
    overflow: hidden;
    background-image: url(../images/falcon.jpg);
    background-color: black;
    background-repeat: no-repeat;
    margin: 0 5% rem;
    overflow: hidden;
    background-size: 40rem;
    background-position: center center;
    box-shadow: .6rem .4rem .4rem .2rem rgba(0, 0, 0, .4);
    border: solid .5rem rgba(200, 210, 0, .8);
    border-radius: .25rem;
}

h1 {
    margin: 6rem 0;
    padding: .6rem 5%;
    font-weight: normal;
    font-size: 3.5rem;
    text-align:center;
    text-transform: uppercase;
    background-color: rgba(200, 23, 0, .8);
}

.logo {
    height: 4.8rem;
    width: auto;
    padding: .5rem 3%;
    opacity: 8
}


article {
    margin: 0;
    padding: 1rem 5%;
    overflow: hidden;
}

.masthead {
    background-color: brown;
    overflow: hidden;
}

article p:first-child {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin: .75rem 0 1.5rem;
    color: red;
    text-shadow: .20rem .20rem .2rem rgba(0, 0, 0, .8);
}
}

figure {
    margin: 0 auto 1.5rem;
    width: 75%;
}

figcaption {
    font-size: .80rem;
    padding: .5rem 5%;
    background-color: red;
}

.headmast {
    margin: 0 auto 1.5rem;
    width: 65%
}

.darthhead {
    margin: 0 auto 1.5rem;
    width: 70%;
}

figcaption2 {
    font-size: .80rem;
    padding: .5rem 5%;
    background-color: red;
}

footer {
    background-color: brown;
    overflow: hidden;
    background-image: url(../images/Star%20wars%20symbol.svg);
    background-size: 30rem;
    background-repeat: no-repeat; 
}

footer p {
    font-size: 0.75rem;
    margin: .5rem 5% 6rem;
}

footer a {
    color: yellow;
}